// utils
@import './utils/variables';
@import './utils/reset';
@import './utils/typography';

// components
@import './components/button';
@import './components/navigation';
@import './components/container';
@import './components/socials';

// sections
@import './sections/header';
@import './sections/hero';
@import './sections/intro';
@import './sections/about';
@import './sections/usp';
@import './sections/footer';

body {
    font-family: var(--ff-Rubik), sans-serif;
    background-color: var(--color-white);
    overflow-x: hidden;
}
