.nav {
    &__list {
        display: flex;
        list-style: none;
        gap: 40px;
        align-items: center;
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: var(--color-white);
            bottom: -5px;
            left: 0;
            transition: width 200ms;
        }
        &:hover::before {
            width: 100%;
        }
    }
    &__link {
        text-decoration: none;
        color: var(--color-white);
        font-size: 12px;
        font-weight: 500;
    }
}
