:root {
    --ff-Rubik: 'Rubik';
    --ff-Merriweather: 'Merriweather';

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;

    // colors
    --color-dark-green: #222f33;
    --color-light-gray: #646d70;
    --color-white: #ffffff;
    --color-black: #000000;

    // others
    --rounded-sm: 4px;
    --container-width: 808px;
}
